html, body {
  font-family: 'Poppins', sans-serif;
}



.App-logo {
  height: 40vmin;
}

.dropdown-height{
  max-height: 300px;
  overflow-y: auto !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.modal-backdrop.show{
  height: 100% !important;
}
.modal-body{
  z-index: -2;
}
.modal-content{
  z-index: -3;
  width: 55vw !important;
  margin-left: -10vw !important;
}
.hover{
  cursor: pointer;
}
.hover:hover{
  background-color: #adadad;
}

.border-bottom-1{
  border-bottom: 1px solid black;
}

/**
  Progress Bar Styles
**/


.progress-bar1{
  
  min-width: 240px;
  position:relative;
  display:flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 32px;
}

.progress-bar1::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  counter-reset: step;
  z-index: -1;

}

.progress1 {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress1 {
  background-color: #1A237E;
  width: 0;
  transition: 0.3s;
}

.progress-step-active{
  background-color: #1A237E !important;
  color: #FFFFFF;
}


.progress-step{
  width: 30px;
  height: 30px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before{
  counter-increment: step;
  content:counter(step);
}